.cold {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.fw-bold {
    font-weight: 700 !important;
}

.bg-lightgreen {
    background-color: #6bb252;
}

.text-lightgreen {
    color: #6bb252;
}

.bg-orange {
    background-color: #F95F09;
}

.bg-green {
    background-color: #364127;
}

.ri-arrow-right-s-line{
    font-size: 45px;
    color:black;
}

.ri-arrow-left-s-line{
    font-size: 45px;
    color:black;
}


/* *************slick-slider****************** */

body {
    position: relative;
    height: 100%;
}

body {
    
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 20%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.slideBtns {
    width: 100px;
    display: flex;
    gap: 10px ;
    justify-content: space-between;
}

.slideBtns div {
    position: static;
    margin: 10px
}

.swiper-button-prev::after {
    content: ""
}

.swiper-button-next::after {
    content: ""
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: "" !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
     content: "" !important;
}
.card:hover {
    box-shadow: 0px 0px 4px gray;
}

.hiding_btn {
    display: none
}

.card:hover .hiding_btn {
    display: flex
}
.ri-star-fill{
    color: #FFC107;
}

.ri-star-half-s-line{
     color: #FFC107;
}

